In [67]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

def read_data():
    file_path = input("Please Enter File Path : ")
    if(file_path[-1] == "n"):
        data = pd.read_json(file_path)
    elif(file_path[-1] == "v"):
        data = pd.read_csv(file_path)
    elif(file_path[-1] == "x"):
        data = pd.read_xlsx(file_path)
    else:
        print("This File Isn't Valid")

def data_summary(data,target_colum):
    print("1.Information about all the columns and it situations and how many rows :-\n")
    print(data.info())
    print("______________________________________________\n")
    print("Here we can know what is the values that's exist in this column and how many times it reapeat\n")
    print("if it's an integer colum it'll show the minimum value and the maximum and the ranges of the values from 25% 50% 75% \n")
    #general information about the whole table colums and more
    print(data[target_colum].describe())
    print("______________________________________________\n")
    #the most repieted value in one of the columns
    print("And now in this colum the most repeated value is :")
    data[target_colum].mode()
    print("______________________________________________\n")
    #the mean for one of the colums using pandas
    print("The mean of the target column :- \n")
    print(data[target_colum].mean())
    print("______________________________________________\n")
    #the mean for one of the colums using numpy
    print(np.mean(data[target_colum]))
    print("______________________________________________\n")
    # to know the greatest value in the colum usign numpy
    print("The Highest value of the target column :- \n")
    print(np.max(data[target_colum]))
    print("______________________________________________\n")
    # to know the smallest value in the colum usign numpy
    print("The Smallest of the target column :- \n")
    print(np.min(data[target_colum]))
    print("______________________________________________\n")
    #to know how much is the values and how much it repeated
    print("The values that's exist in this column and the repeats:- \n")
    print(data[target_colum].value_counts())
    print("______________________________________________\n")


def clear_missing(data):
    print("First The Empty Rows is \n")
    empty_rows = data[data.isnull().any(axis=1)]
    ans = input("Do you wanna delete or fill the empty cells (D/F): ")
    if(ans == "D"):
        data = data.dropna()
        return data
    if(ans == "F"):
        fill = input("you wanna fill it with : ")
        data = data.fillna(fill)
        return data
    else:
        print("Invalid input")

def  categorys(data,categ):
    data.groupby(categ).describe()

def encode_categorical_data(data):
    return pd.get_dummies(data)

In [13]:
read_data()

Please Enter File Path :  file.csv

In [49]:
data
# data came successfuly

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [50]:
data_summary(data,"Year")

1.Information about all the columns and it situations and how many rows :-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.2+ MB
None
______________________________________________

Here we can know what is the values that's exist in this column and how many times it reapeat

if it's an integer colum it'll show the minimum value and the maximum and the ranges of the values from 25% 50% 75%

count    41715.000000
mean      2017.000024
std          2.582052
min       2013.000000
25%       2015.000000
50%       2017.000000
75%       2019.000000
max       2021.000000
Name: Year, dtype: float64
______________________________________________

And now in this colum the most repeated value is :
______________________________________________

The mean of the target column :-

2017.0000239721924
______________________________________________

2017.0000239721924
______________________________________________

The Highest value of the target column :-

2021
______________________________________________

The Smallest of the target column :-

2013
______________________________________________

The values that's exist in this column and the repeats:-

Year
2021    4636
2019    4635
2018    4635
2017    4635
2016    4635
2015    4635
2014    4635
2013    4635
2020    4634
Name: count, dtype: int64
______________________________________________

In [73]:
#this for creating a random empty values in the table
data["Empty"] = np.random.randint(0,2,len(data))
data["Empty"] = np.where(data["Empty"] == 0,None,1)

In [74]:
data["Empty"].value_counts()

Empty
1    20735
Name: count, dtype: int64

In [70]:
#Here's I succedded to fill the none places with 1
clear_missing(data)

First The Empty Rows is

Do you wanna delete or fill the empty cells (D/F):  F
you wanna fill it with :  1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Empty
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,1
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,1
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,1
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,1
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,1
...,...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1

In [75]:
#Here Succedded to delete all the empty rows
clear_missing(data)

First The Empty Rows is

Do you wanna delete or fill the empty cells (D/F):  D

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Empty
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,1
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,1
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,1
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,1
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,1
...,...,...,...,...,...,...,...,...,...,...,...
41708,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41709,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",1

In [76]:
#finally the encoding
encode_categorical_data(data)

,Year,Industry_aggregation_NZSIOC_Level 1,Industry_aggregation_NZSIOC_Level 3,Industry_aggregation_NZSIOC_Level 4,Industry_code_NZSIOC_99999,Industry_code_NZSIOC_AA,Industry_code_NZSIOC_AA11,Industry_code_NZSIOC_AA111,Industry_code_NZSIOC_AA12,Industry_code_NZSIOC_AA121,...,Industry_code_ANZSIC06_ANZSIC06 groups N731 and N732,Industry_code_ANZSIC06_ANZSIC06 groups O771 and O772 (excluding class O7711),Industry_code_ANZSIC06_ANZSIC06 groups P821 and P822,"Industry_code_ANZSIC06_ANZSIC06 groups Q851, Q852, Q853, and Q859","Industry_code_ANZSIC06_ANZSIC06 groups Q860, Q871, and Q879","Industry_code_ANZSIC06_ANZSIC06 groups R891, R892, and R900","Industry_code_ANZSIC06_ANZSIC06 groups R911, R912, and R913","Industry_code_ANZSIC06_ANZSIC06 groups S941, S942, and S949","Industry_code_ANZSIC06_ANZSIC06 groups S951, S952, and S953",Empty_1
0,2021,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2021,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,2021,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,2021,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,2021,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41710,2013,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41711,2013,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41712,2013,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41713,2013,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41714,2013,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True